.room-card:hover {
  box-shadow: 0 0 10px 0 #97bf11;
  background-color: #f1f1f1;
}

.room-description {
  font-size: 1.2rem;
}

.room-image {
  width: 250px;
  height: 250px;
}

.social-icons:hover {
  color: #fff;
  background-color: #000;
}